openai
scikit-learn
pandas

langgraph
langchain
langchain_openai
langchain-cohere
langchain-text-splitters
langchain-community

python-dotenv
pydantic

typing-extensions

neo4j
faiss-cpu

fastapi
uvicorn

setuptools